<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link href="/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<p>Please type your username and password!</p>
<b><p th:text="${message}" style="color: red"></p></b>
<form id="" action="/pfc/login" method="post">
    <div><label for="userName">User name:</label>
        <input type="text" id="userName" name="userName"/></div>
    <div><label for="password">Password:</label>
        <input type="text" id="password" name="password"/></div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</p>
</body>
</html>
