<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<li><a th:href="'http://localhost:8080/pfc/information?foxname='+${foxname}">Information</a></li>
<li><a th:href="'http://localhost:8080/pfc/nutritionStore?foxname='+${foxname}">Nutrition Store</a></li>
<li><a th:href="'http://localhost:8080/pfc/trickCenter?foxname='+${foxname}">Trick Center</a></li>
<li><a th:href="'http://localhost:8080/pfc/actionHistory?foxname='+${foxname}">Action History</a></li>
<img src="/greenfox.png" alt="Fox">
<p th:text="'This is '+${foxname}+'. Currently living on '+${food}+' and '+${drink}+'. It knows '+${nbtricks}+' tricks.'"></p>
<h1>Known tricks</h1>
<div th:if="${knowntricks}">
    <ul th:each="trick : ${tricks}">
        <li th:text="${trick}"></li>
    </ul>
</div>
<div th:unless="${knowntricks}">
    <div>Fox doesn't know any tricks yet. Go and learn some.</div>
</div>
</body>
</html>


