<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link href="/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
    <b><a href="http://localhost:8080/pfc/login">Login</a></b>
    <b><a th:href="'http://localhost:8080/pfc/information?userName='+${userName}">Information</a></b>
    <b><a th:href="'http://localhost:8080/pfc/nutritionStore?userName='+${userName}">Nutrition Store</a></b>
    <b><a th:href="'http://localhost:8080/pfc/trickCenter?userName='+${userName}">Trick Center</a></b>
    <b><a th:href="'http://localhost:8080/pfc/actionHistory?userName='+${userName}">Action History</a></b>
    <b><a href="http://localhost:8080/pfc/register">Register</a></b>
    <img src="/greenfox.png" alt="nav-fox" align="left" width="30px" height="30px">
</nav>
<p><img th:src="${picture}" alt="Fox"></p>
<p th:text="'This is '+${name}+'. Currently living on '+${food}+' and '+${drink}+', while '+${currentTrick}+'. It knows '+${nbtricks}+' tricks.'"></p>
<div th:if="${knowtricks}">
    <form id="currentTrick" action="" method="post">
        <div>
            <label for="currentTrick">Choose trick to do:</label>
            <select id="trick" name="currentTrick">
                <option value="do nothing">do nothing</option>
                <option th:each="trick : ${tricks}"
                        th:value="${trick}"
                        th:utext="${trick}">
                </option>
            </select>
            <input type="submit" value="Do it!">
        </div>
    </form>
</div>
<h1>Known tricks</h1>
<div th:if="${knowtricks}">
    <ul th:each="trick : ${tricks}">
        <li th:text="${trick}"></li>
    </ul>
</div>
<div th:unless="${knowtricks}">
    <div>Fox doesn't know any tricks yet. Go and learn some.</div>
</div>

<h1>Action history</h1>
<div th:if="${hasactions}">
    <ul th:each="action : ${actions}">
        <li th:text="${action}"></li>
    </ul>
</div>
<div th:unless="${hasactions}">
    <div>Fox hasn't got any history. Go and do something.</div>
</div>
</body>
</html>


