<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<li><a href="http://localhost:8080/pfc/login">Login</a></li>
<li><a th:href="'http://localhost:8080/pfc/information?name='+${name}">Information</a></li>
<li><a th:href="'http://localhost:8080/pfc/nutritionStore?name='+${name}">Nutrition Store</a></li>
<li><a th:href="'http://localhost:8080/pfc/trickCenter?name='+${name}">Trick Center</a></li>
<li><a th:href="'http://localhost:8080/pfc/actionHistory?name='+${name}">Action History</a></li>
<img src="/greenfox.png" alt="Fox">
<form id="nutrition" action="" method="post">
    <div>
        <label for="food">Tricks:</label>
        <select id="food" name="food">
            <option th:each="food : ${foods}"
                    th:value="${food}"
                    th:utext="${food}">
            </option>
        </select>
        <label for="drink">Tricks:</label>
        <select id="drink" name="drink">
            <option th:each="drink : ${drinks}"
                    th:value="${drink}"
                    th:utext="${drink}">
            </option>
        </select>
        <input type="submit" value="Change">
    </div>
</form>
</body>
</html>