<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <link href="/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
    <b><a style="flood-color: #4CAF50" th:href="'http://localhost:8080/pfc/information?userName='+${userName}">Information</a></b>
    <b><a th:href="'http://localhost:8080/pfc/nutritionStore?userName='+${userName}">Nutrition Store</a></b>
    <b><a th:href="'http://localhost:8080/pfc/trickCenter?userName='+${userName}">Trick Center</a></b>
    <b><a th:href="'http://localhost:8080/pfc/actionHistory?userName='+${userName}">Action History</a></b>
    <img src="/greenfox.png" alt="nav-fox" align="left" width="30px" height="30px">
    <b><a style="float:right" href="http://localhost:8080/pfc/login">Sign out</a></b>
    <b><a style="float:right" href="http://localhost:8080/pfc/register">Register</a></b>
</nav>
<p><img src="/greenfox.png" alt="Fox"></p>
<form id="nutrition" action="" method="post">
    <div>
        <label for="food">Food:</label>
        <select id="food" name="food">
            <option th:each="food : ${foods}"
                    th:value="${food}"
                    th:utext="${food}">
            </option>
        </select>
        <label for="drink">Drink:</label>
        <select id="drink" name="drink">
            <option th:each="drink : ${drinks}"
                    th:value="${drink}"
                    th:utext="${drink}">
            </option>
        </select>
        <input type="submit" value="Change">
    </div>
</form>
</body>
</html>