<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Page</title>
    <link href="/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<h2>Registration</h2>
<b><p th:if="${message}!='Successful registration. You can login now.'" th:text="${message}" style="color: red"></b>
<form th:if="${message}!='Successful registration. You can login now.'" id="" action="/pfc/register" method="post">
    <div><label for="userName">User name:</label>
        <input type="text" id="userName" name="userName"/></div>
    <div><label for="password1">Password:</label>
        <input type="text" id="password1" name="password1"/></div>
    <div><label for="password2">Password again:</label>
        <input type="text" id="password2" name="password2"/></div>
    <div><label for="foxName">Select your fox's name:</label>
        <input type="text" id="foxName" name="foxName"/></div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<b><p th:if="${message}=='Successful registration. You can login now.'" th:text="${message}"></p></b>
<b><p th:if="${message}=='Successful registration. You can login now.'" style="color: black">
    <a href="http://localhost:8080/pfc/login" style="color: black">Login</a>
</p></b>
</body>
</html>
