<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<li><a th:href="'http://localhost:8080/pfc/information?foxname='+${foxname}">Information</a></li>
<li><a th:href="'http://localhost:8080/pfc/nutritionStore?foxname='+${foxname}">Nutrition Store</a></li>
<li><a th:href="'http://localhost:8080/pfc/trickCenter?foxname='+${foxname}">Trick Center</a></li>
<li><a th:href="'http://localhost:8080/pfc/actionHistory?foxname='+${foxname}">Action History</a></li>
<form th:action="'http://localhost:8080/pfc?name='+${foxname}">
    <select name="trick">
        <option value="Write HTML">Write HTML</option>
        <option value="Code Java">Code Java</option>
        <option value="Play with CSS">Play with CSS</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>
