<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick Page</title>
    <link href="/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
    <b><a href="http://localhost:8080/pfc/login">Login</a></b>
    <b><a th:href="'http://localhost:8080/pfc/information?userName='+${userName}">Information</a></b>
    <b><a th:href="'http://localhost:8080/pfc/nutritionStore?userName='+${userName}">Nutrition Store</a></b>
    <b><a th:href="'http://localhost:8080/pfc/trickCenter?userName='+${userName}">Trick Center</a></b>
    <b><a th:href="'http://localhost:8080/pfc/actionHistory?userName='+${userName}">Action History</a></b>
    <b><a href="http://localhost:8080/pfc/register">Register</a></b>
    <img src="/greenfox.png" alt="nav-fox" align="left" width="30px" height="30px">
</nav>
<p><img src="/greenfox.png" alt="Fox"></p>
<div th:if="${hasTrickToLearn}">
    <form id="tricks" action="" method="post">
        <div>
            <label for="trick">Tricks:</label>
            <select id="trick" name="trick">
                <option th:each="trick : ${tricks}"
                        th:value="${trick}"
                        th:utext="${trick}">
                </option>
            </select>
            <input type="submit" value="Learn">
        </div>
    </form>
</div>
<div th:unless="${hasTrickToLearn}">
    <div>Fox has already learned all available tricks.</div>
</div>
</body>
</html>
