<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<li><a th:href="'http://localhost:8080/pfc/information?name='+${name}">Information</a></li>
<li><a th:href="'http://localhost:8080/pfc/nutritionStore?name='+${name}">Nutrition Store</a></li>
<li><a th:href="'http://localhost:8080/pfc/trickCenter?name='+${name}">Trick Center</a></li>
<li><a th:href="'http://localhost:8080/pfc/actionHistory?name='+${name}">Action History</a></li>
    <form id="" action="" method="post">
        <div>
            <label for="tricks">Tricks:</label>
            <select id="tricks" name="tricks">
                <option value="Write HTML">Write HTML</option>
                <option value="Code Java">Code Java</option>
                <option value="Play with CSS">Play with</option>
            </select>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
