<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba Accounts</title>
    <meta charset="utf-8"/>
</head>
<body style="background-color: #dfff80">
<h1 style="font-family: 'Arial Black'">BANK OF SIMBA ACCOUNTS</h1>
<table style="width:50%; height:200px; font-size: medium">
    <tr style="background-color:green; font-family: 'Arial Black'; color: #dfff80" >
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>POSITION</th>
        <th>CHARACTER TYPE</th>

    </tr>
    <tr th:each="currentAccount : ${accounts}" style="background-color:#4dff4d; font-family: Arial" align="left">
        <td th:text="${currentAccountStat.index}"></td>
        <td th:text="${currentAccount.name}"></td>
        <td th:text="${currentAccount.balance} + ' Zebra'"></td>
        <td th:text="${currentAccount.animalType}"></td>
        <td style="color:darkslateblue"> <em><b th:text="${currentAccount.isKing}"/></em></td>
        <td th:text="${currentAccount.character}"></td>
    </tr>
</table>
<form id="raise" action="" method="POST">
    <p><button type="submit">Raise balance</button></p>
</form>
</body>
</html>

