h1 {
    font-size: 38px;
    padding-top:5%;
    font-family: 'IBM Plex Serif', serif;
    }

h2 {
    color: #ff0099;
    font-size: 28px;
    font-family: 'IBM Plex Serif', serif;
    }

h3 {
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    }

body {
    font-family: 'Consolas', Courier, monospace;
    background-image: url("D:/oktatas/Accenture_CodeGirlz/greenfox/respublika/week-01/day-01/first_website/image/topography/topography.png");
    }

article {
    padding-right:10%;
    padding-left:10%;
    }

nav a {
    color: #ff0099;
    text-align: right;
    }

nav {
    text-align: right;
    background-color: #333333;
    line-height: 30px;
    padding: 5px 10%;
    }

img {
    vertical-align: middle;
    }

h2.second {
    text-align: center;
    color: black;
    font-family: 'IBM Plex Serif', serif;
    }

h2.border {
    text-align: center;
    color: grey;
    font-size: 32px;
    font-family: 'IBM Plex Serif', serif;
    }

p {
    font-size: 18px;
    }