<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add assignee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add new assignee</h1>
<p><form id="" action="/todo/assignee/add" method="post">
    <div><label for="name">Name:</label>
        <input type="text" id="name" name="name"/></div>
    <div><label for="email">Email:</label>
        <input type="text" id="email" name="email"/></div>
    <div><button type="submit">Submit</button></div>
</form></p>
</body>
</html>